.Navbar {
  background: #101010;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}

.Navbar ul {
  display: flex;
  gap: 1rem;
}

.Navbar ul li {
  list-style: none;
}
